html{
    scroll-behavior: smooth; 
}

body { 
    font-family: 'Playfair Display', serif;
    margin: 0; 
    padding: 0; 
    background: #f5f5f5; 
    color: #333; 
}

header {
    background: #1A1F36; 
    color: #fff; 
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    height: 100px;
}   

.logo {
    width: 160px; 
    height: 160px; 
    display: block;
}

.logohoek {
    display: flex;
}

header nav a {
    color: #ffffff; 
    text-decoration: none; 
    font-size: 18px;
}

header nav a:hover {
    text-decoration: underline;
}

header nav {
    display: flex;
    gap: 15px; 
}

h1 {
    font-size: 2.3em; 
    margin: 0; 
    margin-left: 40px;
    color: rgb(255, 255, 255);
}


h2 {
    font-family: 'Playfair Display', serif; 
    font-size: 3em; 
    color: #1A1F36; 
    text-align: center; 
    margin-top: 50px; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2); 
}



.hero {
    background: url('assets/img/image\ copy\ 2.png') no-repeat center center;
    background-size: cover; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero a {
    text-decoration: none;
}

.all:hover {
    background: rgb(86, 83, 83);
}

.hero::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
}

.all{
    font-size: 35px;
    color: rgb(255, 255, 255);
    background-color:#1A1F36; 
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    position: relative; 
    z-index: 2;
    border-radius: 7px;
}

.freeweight { 
    padding-top: 100px; 
    text-align: center; 
    font-size: 2em; 
    color: #1A1F36;  
    text-transform: uppercase; 
    letter-spacing: 2px; 
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2); 
}

.products { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
}
.product:hover {
    transform: scale(1.05);
}

.product {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    transition: transform 0.2s ease-in-out;
}

.product img {
    width: 100%;
    max-width: 300px;
    max-height: 170px;
    object-fit: contain;
    border-radius: 10px;
}

.product h3 {
    font-size: 24px;
    margin: 10px 0;
    flex-grow: 1;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.product p {
    font-size: 20px;
    color: #1A1F36; 
}

.product button {
    background: #1A1F36;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.product button:hover {
    background: #2C3E50;
}

.about, .contact {
    background: white;
    text-align: center;
    padding: 40px 50px;
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.about h2, .contact h2 {
    margin-top: 10px; 
}

.about p, .contact p {
    padding-top: 0px;
}

form {
    margin-top: 20px; 
    margin-bottom: 20px; 
    max-width: 500px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center; 
}


form button {
    float: left;
    float: right; 
    margin-left: 20px;
}



input, textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #1A1F36;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2C3E50;
}


footer {
    background: #2C3E50;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

#sidebar {
    position: fixed;  
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #1A1F36;
    padding-top: 20px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999; 
    transition: transform 0.3s ease-in-out; 
}
#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar ul li a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#sidebar ul li a:hover {
    background-color: #333;
}


#sidebar.hidden {
    transform: translateX(-100%);  
}

#sidebar-toggle {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
}

header nav.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background: #1A1F36;
    width: 150px;
    text-align: center;
}

.menu-container {
    display: flex;
    align-items: center;
    gap: 20px; 
}




@media (max-width: 768px) {
    #sidebar {
        width: 200px;  
    }
}
