html{
    scroll-behavior: smooth; 
    font-family: 'Playfair Display', serif;
}

ul{
    list-style: none; 
    padding: 0; 
    margin: 0; 
}

body { 
    font-family: 'Playfair Display', serif;
    margin: 0; 
    padding: 0; 
    background: #f5f5f5; 
    color: #333; 
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0B132B; 
    width: 100%;
    top: 0;
    left: 0;
}

header .icon-cart{
    position: relative;
    right: 0;
}

header .icon-cart span{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #ff0000;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right:-28px;
}

.cartTab .btn{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}

svg{
    width: 30px;
}

.logo {
    width: 160px; 
    height: 160px; 
    display: block;
}

.logohoek {
    display: flex;
}

header nav a {
    color: #ffffff; 
    text-decoration: none; 
    font-size: 18px;
}

header nav a:hover {
    text-decoration: underline;
}

header nav {
    align-items: center;
}

.cart-icon {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px;
    color: #FFF;
    font-size: 2rem;
}

h1 {
    font-size: 2.3em; 
    margin: 0; 
    margin-left: 40px;
    color: rgb(255, 255, 255);
}

h2 {
    font-family: 'Playfair Display', serif; 
    font-size: 3em; 
    color: #1A1F36; 
    text-align: center; 
    margin-top: 50px; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2); 
}

.hero {
    background: url('assets/img/image copy 2.png') no-repeat center center;
    background-size: cover; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero a {
    text-decoration: none;
}

.all:hover {
    background: rgb(86, 83, 83);
}

.hero::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
}

.all{
    font-size: 35px;
    color: rgb(255, 255, 255);
    background-color:#1A1F36; 
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    position: relative; 
    z-index: 2;
    border-radius: 7px;
}

.productSection { 
    text-align: center; 
    font-size: 2em; 
    color: #1A1F36;  
    text-transform: uppercase; 
    letter-spacing: 2px; 
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2); 
}

.products { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
}

.product:hover {
    transform: scale(1.05);
}

.product {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    transition: transform 0.2s ease-in-out;
}

.product a {
    text-decoration: none;
    color: #1A1F36;
}

.product img {
    width: 100%;
    max-width: 300px;
    height: 170px;
    object-fit: contain;
    border-radius: 10px;
}

.product h3 {
    font-size: 24px;
    margin: 10px 0;
    flex-grow: 1;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product p {
    font-size: 20px;
    color: #1A1F36; 
}

.product button {
    background: #1A1F36;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.product button:hover {
    background: #2C3E50;
}

.about, .contact {
    background: white;
    text-align: center;
    padding: 40px 50px;
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    max-width: 800px;
    margin: 50px auto;
    font-size: 1.2em;   
}

.about h2, .contact h2 {
    margin-top: 10px; 
}

.about p, .contact p {
    padding-top: 0px;
}

form {
    margin-top: 20px; 
    margin-bottom: 20px; 
    max-width: 500px;
    margin: 20px auto;
    display: flex;
    text-align: center; 
    flex-direction: column;
}

form button {
    display: block;
    color: #fff;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color:  #0B132B; 
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2C3E50;
}

footer {
    background:  #1A1F36; 
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px; 
}

footer a {
    color: #00ccff;
    text-decoration: none;
    text-decoration: underline; 
    
}

.offscreen-menu {
    background-color: #1A1F36;
    height: 100vh;
    width: 100%;
    max-width: 250px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
    text-decoration: none;
    color: white;  
    z-index: 100; 
}

.offscreen-menu a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    margin: 20px 0;
}

.offscreen-menu a:hover {
    color: #f4a261;
    text-decoration: underline; 
}

.offscreen-menu.active {
    right: 0;
}

nav {
    display: flex;
    padding: 1rem;
}

.ham-menu {
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    z-index: 100;
    margin-right: 20px;
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 10px;
}

.ham-menu span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.ham-menu span:nth-child(3) {
    bottom: 10px;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.ham-menu.active {
    position: fixed;
    top: 20px;
    right: 0px;
    z-index: 999;
}

.off-screen-menu {
    background-color: #1A1F36;
    height: 100vh;
    width: 250px;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    transition: .3s ease;
    text-decoration: none;
}

.off-screen-menu.active {
    right: 0;
}

header nav.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background: #1A1F36;
    width: 150px;
    text-align: center;
}

.menu-container {
    display: flex;
    gap: 20px; 
    align-items: center;
    font-family: 'Playfair Display', serif;
    margin-left: auto;
    padding-right: 20px;
}

.menu-container nav {
    display: flex;
    gap: 20px;
}

.menu-container nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.menu-container nav a:hover {
    color: #f4a261; 
}

#filterForm {
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 40px;
    padding: 15px;
    border-radius: 8px;
}

.filter-group {
    display: flex;
    flex-direction: row;
    
    align-items: center;
}

#filterForm label {
    font-size: 14px;
    font-weight: bold;

    margin-bottom: 5px;
    margin-right: 5px;

    white-space: nowrap;
}

#filterForm select,
#filterForm input {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    min-width: 120px;
}

#resetFilters {
    padding: 8px 15px;
    font-size: 16px;
    background-color: #1A1F36;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#resetFilters:hover {
    background-color: #2C3E50;
}

.products-small-img img {
    height: 92px;
    margin: 10px 0;
    cursor: pointer;
    display: block;
    opacity: .6;
    margin-top: 10px;
    background-color: lightgray;
}

.products-small-img img:hover{
    opacity: 1;
}

.gallery {
    display: flex;
    justify-content: center;
    margin: 100px auto;
    width: 650px;
    padding-bottom: 100px;
}

.img-container img {
    height: 500px;
}

.img-container{
    padding: 10px;
    background-color: lightgray;
}

.products-price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #2C3E50;
}

.balk{
    height: 2px;
    background-color: #1A1F36;
    margin: 30px 0;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #243372; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    padding: 10px 60px;
    background: #f2f2f2;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
}

.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333; 
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup img{
    width: 100px;
    margin-top: -15%;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}




.main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 40px auto;
    gap: 30px;
    padding: 0 20px;
}

.form-container {
    flex: 2;
}

.cart-container {
    flex: 1;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    font-family: Arial, sans-serif;
}

.cart-container a{
    background-color: #0B132B; 
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.cart-container h3 {
    text-align: center;
    margin-bottom: 15px;
}

.cart-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-item p {
    margin: 5px 0;
}

.cart-item .product-title {
    font-size: 0.85em;
    color: #555;      
}


@media (max-width: 600px) {
    #filterForm {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {
    #sidebar {
        width: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        background: #1A1F36;
        padding-top: 20px;
    }
}